$col_border : #ccc;
$col_button : #337ab7;  //También de encabezados de tablas
$col_panel  : #e0e0e0;

//Basics
@mixin disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   //-khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  // -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
//Estilo de funciones básicas
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.alert {
    padding: 0.8rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.but_close{  //Boton circular con un aspa
  float:right;
  margin-top:-34px;
  margin-right:-23px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #aaa; // #ebccd1;
  border-radius: 10px;
  background: #bbb; // #b94a48;
  font-size: 1.4rem;
  //font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 9px 3px;
  &:before {
    content: "×";
  }    
}
.jumbotron {
  h1 {font-size: 2rem;}
}
//Estilo básico de controles
.form-control {
    display: block;
    width: 100%;
    //height: 2.1rem;
    padding: 6px 12px;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid $col_border;
    border-radius: 4px;
  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.label {  //Config. para etiquetas
    color: #333;
    font-size: 0.9rem;
}
.btn {    //Config. general para los botones
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    cursor: pointer;
    @include disable-select();
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    a {  //Algunos botones incluyen enlaces
      text-decoration: none;
    }
}
.btn-primary { //Botón azul. Se debería usar con .btn.
  color: #fff;
  a { color: #fff;} //Por si incluyen enlaces
  background-color: $col_button;
  border-color: $col_button;
  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }    
}
.btn-info {
  color: #fff;
  a { color: #fff;} //Por si incluyen enlaces
  background-color: #5bc0de;
  border-color: #46b8da;  
  &:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }  
}
.btn-success {
  color: #fff;
  a { color: #fff;} //Por si incluyen enlaces
  background-color: #5cb85c;
  border-color: #4cae4c;
  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
}
.btn-danger {
  color: #fff;
  a { color: #fff;} //Por si incluyen enlaces
  background-color: #d9534f;
  border-color: #d43f3a;
  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
 }
.btn-disabled {
  color: #fff;
  a { color: #fff;} //Por si incluyen enlaces
  background-color: $col_panel;
  border-color: $col_panel;
}
.btn-ico-save {
    background:url('images/icon.png') no-repeat left center;
    padding-left:20px;
}
.switch {  //Estilo para control ON-OFF
    $switch_height: 30px;
    $switch_width: 60px;
    $off_x: 30px;
    //Estilo
    position: relative;
    display: inline-block;
    width: $switch_width;
    height: $switch_height;
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: $switch_height;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: ($switch_height - 8);
      width: ($switch_height - 8);
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: $col_button;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px $col_button;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX($off_x);
      -ms-transform: translateX($off_x);
      transform: translateX($off_x);
    }
}
.link_inline {  //Enlaces "inline"
  font-size: 0.9rem;
  a{
    text-decoration: underline;
    color: #999;
    &:hover {
      color: #666;
    }    
  }
}
.link_block {  //Enlaces "block"
  font-size: 0.9rem;
  a{
    text-decoration: none;
    color: #999;
  }
}
//Controles que representan campos de una tabla
.control-field {
    display: flex;
    .label {
      //border: 1px solid red;
      display: flex;  //Para alinear contenido
      align-items: center;  //Alínea verticalmente
      width: 9rem;
      strong {color: red;}
    }
    .control {
      //border: 1px solid red;
      width: 50%;
    }
    .msg {
      //border: 1px solid blue;
      flex-grow: 1;
      display: flex;  //Para alinear contenido
      align-items: center;  //Alínea verticalmente
      padding-left: 0.5rem;
      color: red;
      font-size: 0.8rem;
    }
}
.cnt-disabled {  //Controles deshabilitados
    label {color: $col_border};
    input {
      border: 1px solid $col_panel;
      background-color: $col_panel;
    }
} 
//Configura el fondo y borde de un área rectangular.
@mixin panel {
    //  margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel {
    @include panel;
}
//Estilo para los paneles, definidos con startBlock-endBlock
.panel_block {
    @include panel;
    $alt_texto: 1.2rem;  //Altura del texto y de íconos.
    .panel-heading{
      border-bottom: 1px solid $col_border;
      background-color: $col_panel;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      .text {  //Título
        //border: 1px solid blue;
        font-size: $alt_texto;
      }
      .btns {  //Botones de la parte izquierda.
        //border: 1px solid blue;
        display: flex; //Para que estén en horizontal
        a, button {  //Para los botones. Por defecto es <a> pero se puede usar <button> también.
          display: block;
          margin: 0px;
          padding: 0px;
          //Configuraciones adicionales para <button>
          border: none; 
          outline:none;
          background-color: transparent ;
          cursor: pointer;
          img {
            display: inline-block;
            height: $alt_texto;
            padding-left: 0.4rem;
          }
        }
      }
    }
    .panel-body {
      //border: 1px solid red;
      padding: 0.7rem;
      button {
        vertical-align: top;
      }
    }
}
//Formulario de inicio de sesión
.form_log1 {
    border: 1px solid $col_border;
    border-radius: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    width: 16rem;
    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      color: $col_button;
    }
    input {margin-bottom: 1rem;}
}
//Estilo para la función _item_bloque()
.item_bloque {
    white-space:normal;
    width : 10rem;
    height: 8rem;
    display: inline-block;
    margin:2px;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: inline-block;
        font-size: 0.9rem;
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
}
//Estilo para tablas generadas con table_list()
.table_list {
    border-collapse: collapse;
    border: 1px solid $col_border;
    font-size: 0.86rem;
    th, td {
      border: 1px solid $col_border;    
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
    th {
      color: white;
      font-weight: 400;
      background-color: $col_button;
      text-align: center;
      height: 2rem;
    }
    td {
      height: 2rem;
    }  //Alto de celdas
    //Alineamiento por tipo de dato. Para ver los tipos de datos: https://www.php.net/manual/es/mysqli-result.fetch-field-direct.php
    .t3, .t4, .t5, .t8 {  //Números alineados a la derecha
      text-align: right;
    }
    .actions {  //Botones de acciones
      text-align: center;
    }
    //Sombreado intercalado
    tr:nth-child(even) {background-color: #f2f2f2;}
}    
//Estilo para formulario generado con form_insert()
.form_insert {
  .control-field {margin-bottom: 0.8rem;}
  .buttons {  //Si es que hay dos botones
    display: flex;
    justify-content: space-around;
  }
}
